*

!.gitignore
!README.md

!src/
!src/*.cpp

!include/
!include/*.h

!static/
!static/*.html
!static/*.ico
!static/*.css
!static/*.js

!scripts/**
!scripts/*.sh

!CMakeLists.txt
!Dockerfile
!.clang-format